/* reset */

/* akhir reset */

/* nav */
.brand {
  float: left;
  color: white;
  font-weight: bold;
}
li {
  float: right;
  list-style: none;
}
.nav {
  border: 1px solid;
  width: 100%;
  height: 50px;
  background-color: grey;
}
a {
  text-decoration: none;
  padding: 5px;
  color: white;
}
li :hover {
  color: blue;
}
/* akhir nav */
/* section 1 */
.container {
  border: 1px solid black;
  display: flex;
}
.sidenav {
  border: 1px solid blue;
  width: 20%;
  height: 50vh;
}
.main {
  border: 1px solid red;
  width: 80%;
  height: 100vh;
}
.title {
  border: 1px solid red;
}
.content {
  border: 1px solid red;
}
.footer_text {
  border: 1px solid greenyellow;
}
